.card {
  width: 80px; /* Kart genişliği */
  height: 120px; /* Kart yüksekliği */
  background-size: cover;
  background-image: url('../../public/assets/gameBckG.png'); 
  background-repeat: no-repeat;  
   background-position: center;
  border: 1px solid #000;
  margin: 2px;
  /*position: absolute;
  margin: 0;*/
  z-index: 1; 
}

.card-back {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

